.etObjectsInline {
    display: inline !important;
}

.adminDivPaddingsIndex {
    padding-left: 10px;
    padding-right: 10px;
}

.adminDashboardButtons {
    width: 250px;
    height: 250px;
    background-color: white;
    border: 1px solid #D52B1E !important;
}

.masterColorTextRed {
    color: #D52B1E;
}

.dSelectionCriteriaObjectHeader {
    width: 100%;
    /*background-color: #C9cac8;*/
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    /*color: #D52B1E;*/
    border: 1px solid #D52B1E;
}
.masterColorBackgroundRed {
    background-color: #D52B1E;
    color: white;
}

.masterColorTextGray {
    color: #C9cac8;
}

.etObjectsInline {
    display: inline !important;
}
.masterColorBackgroundGray {
    background-color: #C9cac8;
}

.dSelectionCriteriaQuestion {
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 20px;
}

.dSelectionCriteriaSubQuestion {
    padding-left: 70px;
    padding-right: 35px;
    margin-top: 10px;
}
.masterColorTextMagenta {
    color: #A51140;
}

.masterColorBackgroundMagenta {
    background-color: #A51140;
}

.masterColorTextSkyBlue {
    color: #75CEDE;
}

.masterColorBackgroundSkyBlue {
    background-color: #75CEDE;
}

.masterColorTextLightNavy {
    color: #0097A5;
}

.masterColorBackgroundLightNavy {
    background-color: #0097A5;
}

.masterColorTextBlack {
    color: #000000;
}

.dTableBBsimple td {
    border-bottom: 1px solid #C9CAC8 !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dTableMainWidth {
    width: 100%;
}

.dTableBBheader td, .dTableBBheader th {
    border-bottom: 1px solid #D52B1E !important;
}

.dHideMe {
    display: none;
}

.dAddItemRelativeWidth {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #D52B1E !important;
}

.dBackgroundColorWhite {
    background-color: #ffffff;
}




