
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RecordList</h2>

<div ng-controller="IndexController">
    <div>
        <div>
            <table class="dTableMainWidth">
                <tr class="dTableBBheader">
                    <td><span class="dHideMe">Id</span></td>
                    <td>Type name</td>
                    <td>Subtype</td>
                    <td>Date Created</td>
                    <td>Date Modified</td>
                    <td></td>
                </tr>
                <tr class="dTableBBsimple">
                    <td><span class="dHideMe">{{ap.Id}}</span></td>
                    <td>test1</td>
                    <td>test2</td>
                    <td>
                        test3n
                    </td>
                    <td>
                       53s5
                    </td>
                    <td>
                        <span title="Delete record"><i class="masterColorTextRed fa fa-times-circle"></i></span>&nbsp;&nbsp;
                        <span title="Disable record"><i class="masterColorTextRed fa fa-key"></i></span>
                    </td>

                </tr>
            </table>
        </div>
        <div></div>
    </div>
</div>