
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RecordList</h2>
<script src="~/AngularScripts/MainUser/Index.js"></script>
<div ng-controller="RecordListsController">
    <div ng-show="!initData.Success.IsSuccess" class="masterColorBackgroundRed">
        <p><b>Error occured!</b></p>
        <p>{{initData.Success.Message}}</p>
    </div>
    <div>
        <div>
            <table class="dTableMainWidth">
                <tr class="dTableBBheader">
                    <td><span class="dHideMe">Id</span></td>
                    <td>Type name</td>
                    <td>Subtype</td>
                    <td>Date Created</td>
                    <td>Date Modified</td>
                    <td></td>
                </tr>
                <tr class="dTableBBsimple" ng-repeat="ap in initData.RecordsList">
                    <td><span class="dHideMe">{{ap.Id}}</span></td>
                    <td>{{ap.Title}}</td>
                    <td>
                        <span ng-show="showFriendlyDate(ap.CreatedOn)!='Invalid date'">{{showFriendlyDate(ap.CreatedOn)}}</span>
                    </td>
                    <td>
                        <span ng-show="showFriendlyDate(ap.UpdatedOn)!='Invalid date'">{{showFriendlyDate(ap.UpdatedOn)}}</span>
                    </td>
                    <td>
                        <span title="Delete record"><i class="masterColorTextRed fa fa-times-circle"></i></span>&nbsp;&nbsp;
                        <span title="Disable record"><i class="masterColorTextRed fa fa-key"></i></span>
                    </td>

                </tr>
            </table>
        </div>
        <div></div>
    </div>
</div>