
@{
    ViewBag.Title = "RecordTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RecordTypes</h2>

<div>
    <div>
        <table>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Type Name:</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
                <td>Subtype:</td>
                <td>
                    <select class="form-control"></select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <input type="button" value="Save" class="btn"/>
                    <input type="button" value="Cancel" class="btn" />
                </td>
                
            </tr>
            @*<tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>*@
        </table>
    </div>
    <div></div>
</div>