
@{
    ViewBag.Title = "RecordTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Record Types</h2><br />
<script src="~/AngularScripts/AppAdministrator/RecordTypes.js"></script>
<div ng-controller="RecordTypesController as rtCtrl">
    <div ng-show="!initData.Success.IsSuccess" class="masterColorBackgroundRed">
        <p><b>Error occured!</b></p>
        <p>{{initData.Success.Message}}</p>
    </div>
    <br />
    <div ng-show="showNewRecordDiv">
        <form name="rtCtrl.NewRecord">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Type Name:</td>
                    <td>
                        <input type="text" class="form-control" ng-model="newRecord.TypeName"  required/>
                    </td>
                    <td>Subtype:</td>
                    <td>
                        <select class="form-control" ng-model="newRecord.SubtypeListId" required>
                            <option ng-repeat="li in initData.SubtypeList" ng-value="li.Id">
                                {{li.Name}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3">
                        <input type="button" value="Save" ng-disabled="rtCtrl.NewRecord.$invalid" class="btn dAddItemRelativeWidth masterColorBackgroundRed text-white" ng-click="addNewRecord()" />
                        <input type="button" value="Cancel" class="btn dAddItemRelativeWidth dBackgroundColorWhite masterColorTextRed" ng-click="showNewRecordDiv=!showNewRecordDiv" />
                    </td>

                </tr>
            </table>
        </form>        
        <br /><br />
    </div>
    <div class="text-right" ng-show="!showNewRecordDiv">
        <button type="button" class="btn dAddItemRelativeWidth masterColorBackgroundRed text-white" ng-click="showNewRecordDiv=!showNewRecordDiv">
            <div class="etObjectsInline">
                <span>
                    <i class="fa fa-plus text-white"></i>
                </span>
                Add Activity
            </div>
        </button>
    </div>
    <div>
        <div>
            <table class="dTableMainWidth">
                <tr class="dTableBBheader">
                    <td><span class="dHideMe">Id</span></td>
                    <td>Type name</td>
                    <td>Subtype</td>
                    <td>Date Created</td>
                    <td>Date Modified</td>
                    <td></td>
                </tr>
                <tr class="dTableBBsimple" ng-repeat="ap in initData.RecordsList">
                    <td><span class="dHideMe">{{ap.Id}}</span></td>
                    <td>{{ap.TypeName}}</td>
                    <td>{{ap.SubtypeName}}</td>
                    <td>
                        <span ng-show="showFriendlyDate(ap.CreatedOn)!='Invalid date'">{{showFriendlyDate(ap.CreatedOn)}}</span>
                    </td>
                    <td>
                        <span ng-show="showFriendlyDate(ap.UpdatedOn)!='Invalid date'">{{showFriendlyDate(ap.UpdatedOn)}}</span>
                    </td>
                    <td>
                        <span title="Delete record"><i class="masterColorTextRed fa fa-times-circle" ng-click="deleteType(ap.Id)"></i></span>&nbsp;&nbsp;
                        <span title="Disable record"><i class="masterColorTextRed fa fa-key" ng-click="deactivateType(ap.Id)"></i></span>
                    </td>

                </tr>
            </table>
        </div>

    </div>
</div>